
@import url('https://fonts.googleapis.com/css2?family=Fresca&family=\
	Signika+Negative:wght@300&family=Spline+Sans+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

* {
	box-sizing: border-box;
}

html, body {
	scroll-behavior: smooth;
	width: calc(100vw - 1vw);
	height: calc(100vh - 2vw);
}

button, input, textarea, iframe {
	display: inline-block;
	outline: none;
	border: none;
	resize: none;
	background: none;
}
button:hover, a:hover {
	cursor: pointer;
}
h1, h2, h3, i, iframe {
	font-family: 'Signika Negative', sans-serif; 
}
p, button, a, span, summary, details, label, ul, li, div, content, section { 
	font-family: 'Fresca', sans-serif;
	font-size: 20px;
}
input::placeholder, textarea::placeholder, input, textarea {
	font-family: 'Spline Sans Mono', monospace;
}

/* Font sizes for headings */
h1 {
	font-size: 70px;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 35px;
}
h4 {
	font-size: 25px;
}
h5 {
	font-size: 17;
}
h6 {
	font-size: 10px;
}


.root-element {
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.search-component, .result-component {
	width: 47%;
	max-height: 100%;
	padding: 25px;
	background-color: orangered;
	border-radius: 20px;
	box-shadow: 7px 7px 12px black;
}

.search-component form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px;
	background-color: yellow;
	width: fit-content;
	height: 200px;
	margin: auto;
	border-radius: 15px;
}

.result-component {
	top: 0; left: 0; right: 0; bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}
.result-component::-webkit-scrollbar {
	width: 5px;
}
.result-component::-webkit-scrollbar-thumb {
	background-color: yellow;
}
.result-component::-webkit-scrollbar-track {
	background-color: transparent;
}

input, button {
	color: orangered;
	background-color: white;
}
form input {
	width: 300px;
	height: 50px;
	padding: 10px;
	border-radius: 25px;
}
form button {
	width: 50px;
	height: 50px;
	margin-left: 5px;
	padding: auto;
	border-radius: 50%;
}

@media screen and (max-width: 700px) {
	.root-element {
		flex-flow: column;
	}
	.search-component, .result-component {
		width: 100%;
	}
}