* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.root-element {
  width: 100%;
  height: 100%;
  background-color: orange;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 25px;
  overflow: hidden;
}
.input-section, .output-section {
  width: 46%;
  height: 100%;
  /* border: 1px solid black; */
  border-radius: 25px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px 25px;
}

.input-section form {
  width: 100%;
  /* height: 70%; */
  /* border: 1px solid maroon; */
  margin: auto;
}

label {
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
textarea {
  width: 100%;
  height: 400px;
  background-color: olivedrab;
  border-radius: 20px;
  display: inline-block;
  border: none;
  resize: none;
  outline: none;
  margin-top: 15px;
  padding: 25px 10px 15px 10px;
  /* color: white; */
  font-size: 15px;
}

.input-actions {
  width: 100%;
  padding-top: 15px;
  display: flex;
  /* justify-content: ; */
  gap: 15px 15px;
}
button {
  cursor: pointer;
  display: inline;
  outline: none;
  border: none;
  background-color: orangered;
  /* color: white; */
  text-transform: capitalize;
  font-weight: 700;
  width: 50%;
  height: 50px;
  border-radius: 25px;
}

@media (hover: hover) {
  button:hover {
    background-color: #ff4500cc;
    /* color: olivedrab; */
  }
}