
/* import of w3.css */
@import url(https://www.w3schools.com/w3css/4/w3.css);

/* import of color libraries */
@import url(https://www.w3schools.com/lib/w3-colors-2021.css);
@import url(https://www.w3schools.com/lib/w3-colors-2019.css);
@import url(https://www.w3schools.com/lib/w3-colors-2018.css);
@import url(https://www.w3schools.com/lib/w3-colors-2017.css);
@import url(https://www.w3schools.com/lib/w3-colors-2020.css);

/* import of google font icons */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);

/* import of google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Signika+Negative:wght@300&family=Spline+Sans+Mono:wght@300&display=swap');

/* fonts for specific tags */
h1, h2, h3, i, iframe {
	font-family: 'Signika Negative', sans-serif; 
}
p, button, a, span, summary, details, label, ul, li, div, content, section { 
	font-family: 'Fresca', sans-serif;
	font-size: 20px;
}
input::placeholder, textarea::placeholder, input, textarea {
	font-family: 'Spline Sans Mono', monospace;
}

/* Font sizes for headings */
h1 {
	font-size: 70px;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 35px;
}
h4 {
	font-size: 25px;
}
h5 {
	font-size: 17;
}
h6 {
	font-size: 10px;
}

kbd {
	background-color: black;
	color: white;
	border-radius: 5%;
	padding: 2px 5px;
}

/* Custom Theme */
.w3-theme-l5 {color:#000 !important; background-color:#fff4f0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#ffdacc !important}
.w3-theme-l3 {color:#000 !important; background-color:#ffb499 !important}
.w3-theme-l2 {color:#000 !important; background-color:#ff8f66 !important}
.w3-theme-l1 {color:#fff !important; background-color:#ff6933 !important}
.w3-theme-d1 {color:#fff !important; background-color:#e63d00 !important}
.w3-theme-d2 {color:#fff !important; background-color:#cc3600 !important}
.w3-theme-d3 {color:#fff !important; background-color:#b33000 !important}
.w3-theme-d4 {color:#fff !important; background-color:#992900 !important}
.w3-theme-d5 {color:#fff !important; background-color:#802200 !important}

.w3-theme-light {color:#000 !important; background-color:#fff4f0 !important}
.w3-theme-dark {color:#fff !important; background-color:#802200 !important}
.w3-theme-action {color:#fff !important; background-color:#802200 !important}

.w3-theme {color:#fff !important; background-color:#ff4500 !important}
.w3-text-theme {color:#ff4500 !important}
.w3-border-theme {border-color:#ff4500 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#ff4500 !important}
.w3-hover-text-theme:hover {color:#ff4500 !important}
.w3-hover-border-theme:hover {border-color:#ff4500 !important}